altgraph==0.17.5
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
bullet==2.2.0
cffi==2.0.0
cryptography==46.0.3
keyboard==0.13.5
macholib==1.16.4
packaging==23.2
pycparser==2.23
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pynput==1.8.1
pyobjc==12.1; sys_platform == "darwin"
pyperclip==1.11.0
setuptools<70
six==1.17.0
termcolor==3.2.0
